<header>
    <div>
        <h1>home</h1>
        <nav>
            <ul>
                <li>
                    <a href=".././">Home</a>
                </li>
                <li>
                    <a href="">Login</a>
                </li>
                <li>
                    <a href="./account/signup">Signup</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
<div class="form">
    <form id="login" method="post">
        <label for="email">Email</label><br />
        <input type="email" name="email" value="" placeholder="Tu Email" class="formData">
        <br /><br />
        <label for="password">Password</label><br />
        <input type="password" name="password" value="" placeholder="Tu Contraseña" class="formData">
        <br /><br />
        <input type="submit" value="Login" class="btn">
    </form>
</div>

<script type="text/javascript">
    const formLogin = document.querySelector('#login')
    const formData = new FormData(formLogin)

    formLogin.addEventListener('submit', event => {
        event.preventDefault()
        fetch('/api/signin', {
            method: 'POST',
            body: formData
        })
        .then(res => res.json())
        .then(data => {
            localStorage.setItem('token', data.token)
        })
    })
</script>