<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/style.css" type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.10/angular.min.js"></script>
</head>
<body>
    
    {{{ body }}}

    <footer>
        <div class="about_as">
            <p>made in C.R.</p>
        </div>
    </footer>
</body>
</html>